<ion-view view-title="Trekking Toad">
  <ion-content>
    <h2> Hello trekkers,
      <br> Welcome home :)</h2>
    Trekking toad is a window to number of forest trails, treks, mountains, lake sides and what not! Are you a newbie trekker.
    worry not. We have whole lot of treks documented with ranging variations in endurance. Get route, maps, food and accommodation
    info within minutes. Are you experienced nerd!! Well share your thoughts and info. Let more and more people see the new
    places. Help them follow your trails. Start digging! Explore the unexplored!!
  </ion-content>
</ion-view>
