<ion-view view-title="">
  <ion-content>
    <div style="margin-left: 10px;margin-right: 5px;">
      <!--<h3>Hello trekkers</h3>
      <hr>
      <br>-->
      <br>
      <div style="font-family: 'Delius Unicase', cursive;">
        Let’s be a toad who loves to go out with or without plan, who loves to take a nap under the open sky with billions of stars,
        who enjoys challenges and celebrates its trails which it discovers while losing the path, Who likes to feel the first
        rain drops in wild, Who is crazy and adventures to take new challenges. So let’s come together and bring out the
        toad within you.
       <br>
      <br>let’s be a <b>#trekkingtoads</b>
     

      </div>
    </div>
  </ion-content>
</ion-view>
