<ion-view view-title="Trekking Toad">
  <ion-content>
    <h2>Hello trekkers,</h2>
    Let’s be a toad who loves to go out with or without plan, who loves to take a nap under the open sky with billions of stars,
    who enjoys challenges and celebrates its trails which it discovers while losing the path, Who likes to feel the first
    rain drops in wild, Who is crazy and adventures to take new challenges. So let’s come together and bring out the toad
    within you. 
    <br>let’s be a <b>#trekkingtoads</b>
  </ion-content>
</ion-view>
